.login {
    height: 300px;
    width: 680px;
    padding: 25px;
    background-color: rgba(255,255,255,0.8);
    border:1px solid #c6c6c6;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -120px 0 0 -150px;
    z-index: 99;
}

.login h1 {
    text-align: center;
    color: #0C0C0C;
    font-size: 24px;
    margin-bottom: 20px;
}

.logo {
    width: 110px;
    height: auto;
}

.bg {
    background-image: url(/asset/image/login_bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}